
@{
    ViewBag.Title = "googleMap";
    
}

<h2>googleMap</h2>
<html>
<head>

</head>
<body>
    <iframe width="600"
            height="450"
            frameborder="0" style="border:0"
            src=@Html.ViewData["Maps"] allowfullscreen></iframe>

</body>
</html>


