<html>
<head>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        #char_container{
            width:700px;
            height:400px;
            border:1px solid #0094ff;
            padding: 1px;
            border-radius: 4px;
        }
    </style>

</head>

<body>
    <h1>Statistics about number of document per type</h1>
    <div id="char_container">
        <canvas id="bar_chart">
        </canvas>
    </div>
    <script>
        var repArray = @Html.Raw(Json.Encode(ViewBag.REP));
        var types = @Html.Raw(Json.Encode(ViewBag.TYPES));
        
        var ctx = $("#bar_chart");
        var bacChart = new Chart(ctx,{

            type:'bar',
            data:{
                labels:types,
                datasets:[{
                    label:"this graph shows document according to type ",
                    data:repArray,
                    backgroundColor:["rgba(242,166,54,.5)","rgba(145,166,54,.5)","rgba(70,166,54,.5)","rgba(30,60,54,.5)"],
                    borderColor:["rgb(242,166,54)","rgb(145,166,5)","rgb(74,166,4)"],
                    borderWidth:1
                }]
            },
            options:{
                maintainAspectRatio:false,
                scales:{
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
                
            
        }
        });
    </script>


</body>
@Html.ActionLink("Return", "Index")
</html>

